<?xml version="1.0" encoding="UTF-8"?>
<configuration packages="com.epam.ta.reportportal.log4j.appender">
    <properties>
        <property name="pattern">%d %p %c{1} [%t] %m%n</property>
    </properties>
    <Appenders>
        <File name="File" fileName="target/logs/framework.log">
            <PatternLayout>
                <Pattern>%d %p %c{1} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
        <ReportPortalLog4j2Appender name="ReportPortalAppender">
            <PatternLayout>
                <Pattern>%d %p %c{1} [%t] %m%n</Pattern>
            </PatternLayout>
        </ReportPortalLog4j2Appender>
    </Appenders>
    <loggers>
        <root level="info">
            <appender-ref ref="ReportPortalAppender"/>
            <AppenderRef ref="File"/>
        </root>
    </loggers>
</configuration>